<%= form_for (@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <table border="0">
    <tr> 
        <td> <!-- column space somehow try the boot strap grids -->
          <%= f.label "Provider Last Name" %>
          <%= f.text_field :providerlastname %>
          </td>
          <td>
          <%= f.label "Provider First Name" %>
          <%= f.text_field :providerfirstname %>
        </td>
    </tr>
    <tr>
     <td>
        <%= f.label "Provider Phone" %>
        <%= f.text_field :providerphone %>
      </td>
        <td>
           <%= f.label "Provider Secondary Ph:" %>
          <%= f.text_field :providersecondaryphone %>
      </td>
      </tr>
    <tr>
         <td>
           <%= f.label "Provider Fax:" %>
          <%= f.text_field :providerfax %>
      </td>
        <td>
           <%= f.label "Provider Cell:" %>
          <%= f.text_field :providercell %>
      </td>
    </tr>



    <tr>
     <td>
        <%= f.label "Provider TIN" %>
        <%= f.text_field :providertin %>
      </td>
        <td>
           <%= f.label "Provider NPI" %>
          <%= f.text_field :providernpi %>
      </td>
    </tr>
 
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
