<%- model_class = Provider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<<<<<<< HEAD
<<<<<<< HEAD
<table class="display"  id="providers">
=======
<table class="table table-striped" id="providers">
>>>>>>> parent of ff44f7a... latest stuff
=======
<table class="table table-striped" id="providers">
>>>>>>> parent of ff44f7a... latest stuff
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:providerlastname) %></th>
      <th><%= model_class.human_attribute_name(:providerfirstname) %></th>
      <th><%= model_class.human_attribute_name(:dob) %></th>

    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= link_to provider.id, provider_path(provider) %></td>
        <td><%= provider.providerlastname %></td>
        <td><%= provider.providerfirstname %></td>
         <td><%= provider.dob %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
