<p id="notice"><%= notice %></p>

<p>
  <strong>Providertin:</strong>
  <%= @provider.providertin %>
</p>

<p>
  <strong>Providerlastname:</strong>
  <%= @provider.providerlastname %>
</p>

<p>
  <strong>Providerfirstname:</strong>
  <%= @provider.providerfirstname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @provider.dob %>
</p>

<p>
  <strong>Deanum:</strong>
  <%= @provider.deanum %>
</p>

<p>
  <strong>Deaexpires:</strong>
  <%= @provider.deaexpires %>
</p>

<p>
  <strong>Nmlicensenum:</strong>
  <%= @provider.nmlicensenum %>
</p>

<p>
  <strong>Nmlicenseexpires:</strong>
  <%= @provider.nmlicenseexpires %>
</p>

<p>
  <strong>Providerphone:</strong>
  <%= @provider.providerphone %>
</p>

<p>
  <strong>Providersecondaryphone:</strong>
  <%= @provider.providersecondaryphone %>
</p>

<p>
  <strong>Providerfax:</strong>
  <%= @provider.providerfax %>
</p>

<p>
  <strong>Providercell:</strong>
  <%= @provider.providercell %>
</p>

<p>
  <strong>Providernpi:</strong>
  <%= @provider.providernpi %>
</p>

<p>
  <strong>Officecontact:</strong>
  <%= @provider.officecontact %>
</p>

<p>
  <strong>Crdntcontact:</strong>
  <%= @provider.crdntcontact %>
</p>

<p>
  <strong>Hospitalaffiliation:</strong>
  <%= @provider.hospitalaffiliation %>
</p>

<p>
  <strong>Hospitalaffiliation:</strong>
  <%= @provider.hospitalaffiliation %>
</p>

<p>
  <strong>Providernotes:</strong>
  <%= @provider.providernotes %>
</p>

<p>
  <strong>Dues:</strong>
  <%= @provider.dues %>
</p>

<p>
  <strong>Adjustment:</strong>
  <%= @provider.adjustment %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @provider.startdate %>
</p>

<p>
  <strong>Changedate:</strong>
  <%= @provider.changedate %>
</p>

<p>
  <strong>Change:</strong>
  <%= @provider.change %>
</p>

<p>
  <strong>Provisionaldate:</strong>
  <%= @provider.provisionaldate %>
</p>

<p>
  <strong>Caqhnum:</strong>
  <%= @provider.caqhnum %>
</p>

<p>
  <strong>Provision:</strong>
  <%= @provider.provision %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
