<%- model_class = Provider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:providertin) %>:</strong></dt>
  <dd><%= @provider.providertin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providerlastname) %>:</strong></dt>
  <dd><%= @provider.providerlastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providerfirstname) %>:</strong></dt>
  <dd><%= @provider.providerfirstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @provider.dob %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deanum) %>:</strong></dt>
  <dd><%= @provider.deanum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deaexpires) %>:</strong></dt>
  <dd><%= @provider.deaexpires %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nmlicensenum) %>:</strong></dt>
  <dd><%= @provider.nmlicensenum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nmlicenseexpires) %>:</strong></dt>
  <dd><%= @provider.nmlicenseexpires %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providerphone) %>:</strong></dt>
  <dd><%= @provider.providerphone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providersecondaryphone) %>:</strong></dt>
  <dd><%= @provider.providersecondaryphone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providerfax) %>:</strong></dt>
  <dd><%= @provider.providerfax %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providercell) %>:</strong></dt>
  <dd><%= @provider.providercell %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providernpi) %>:</strong></dt>
  <dd><%= @provider.providernpi %></dd>
  <dt><strong><%= model_class.human_attribute_name(:officecontact) %>:</strong></dt>
  <dd><%= @provider.officecontact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:crdntcontact) %>:</strong></dt>
  <dd><%= @provider.crdntcontact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hospitalaffiliation) %>:</strong></dt>
  <dd><%= @provider.hospitalaffiliation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:providernotes) %>:</strong></dt>
  <dd><%= @provider.providernotes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dues) %>:</strong></dt>
  <dd><%= @provider.dues %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adjustment) %>:</strong></dt>
  <dd><%= @provider.adjustment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:startdate) %>:</strong></dt>
  <dd><%= @provider.startdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:changedate) %>:</strong></dt>
  <dd><%= @provider.changedate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:change) %>:</strong></dt>
  <dd><%= @provider.change %></dd>
  <dt><strong><%= model_class.human_attribute_name(:provisionaldate) %>:</strong></dt>
  <dd><%= @provider.provisionaldate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:caqhnum) %>:</strong></dt>
  <dd><%= @provider.caqhnum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:provision) %>:</strong></dt>
  <dd><%= @provider.provision %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              providers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_provider_path(@provider), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              provider_path(@provider),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
