<p id="notice"><%= notice %></p>

<p>
  <strong>Insurance:</strong>
  <%= @insurance.insurance %>
</p>

<p>
  <strong>Insuranceaddress:</strong>
  <%= @insurance.insuranceaddress %>
</p>

<p>
  <strong>Insurancecity:</strong>
  <%= @insurance.insurancecity %>
</p>

<p>
  <strong>Insurancestate:</strong>
  <%= @insurance.insurancestate %>
</p>

<p>
  <strong>Insurancezip:</strong>
  <%= @insurance.insurancezip %>
</p>

<p>
  <strong>Insurancephone:</strong>
  <%= @insurance.insurancephone %>
</p>

<p>
  <strong>Prrname:</strong>
  <%= @insurance.prrname %>
</p>

<p>
  <strong>Prrphone:</strong>
  <%= @insurance.prrphone %>
</p>

<p>
  <strong>Prrext:</strong>
  <%= @insurance.prrext %>
</p>

<p>
  <strong>Prrfax:</strong>
  <%= @insurance.prrfax %>
</p>

<p>
  <strong>Prremail:</strong>
  <%= @insurance.prremail %>
</p>

<p>
  <strong>Ncrname:</strong>
  <%= @insurance.ncrname %>
</p>

<p>
  <strong>Ncrphone:</strong>
  <%= @insurance.ncrphone %>
</p>

<p>
  <strong>Nvrext:</strong>
  <%= @insurance.nvrext %>
</p>

<p>
  <strong>Ncvrfax:</strong>
  <%= @insurance.ncvrfax %>
</p>

<p>
  <strong>Ncremail:</strong>
  <%= @insurance.ncremail %>
</p>

<p>
  <strong>Crname:</strong>
  <%= @insurance.crname %>
</p>

<p>
  <strong>Crphone:</strong>
  <%= @insurance.crphone %>
</p>

<p>
  <strong>Crext:</strong>
  <%= @insurance.crext %>
</p>

<p>
  <strong>Crfax:</strong>
  <%= @insurance.crfax %>
</p>

<p>
  <strong>Cremail:</strong>
  <%= @insurance.cremail %>
</p>

<p>
  <strong>Insurancenotes:</strong>
  <%= @insurance.insurancenotes %>
</p>

<%= link_to 'Edit', edit_insurance_path(@insurance) %> |
<%= link_to 'Back', insurances_path %>
