<p id="notice"><%= notice %></p>

<p>
  <strong>Designation:</strong>
  <%= @designation.designation %>
</p>

<p>
  <strong>Dues:</strong>
  <%= @designation.dues %>
</p>

<p>
  <strong>Amtchangedate:</strong>
  <%= @designation.amtchangedate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @designation.status %>
</p>

<%= link_to 'Edit', edit_designation_path(@designation) %> |
<%= link_to 'Back', designations_path %>
