<%= bootstrap_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <table border="0">
    <tr> 
        <td> <!-- column space somehow try the boot strap grids -->
      
          <%= f.text_field :groupname, label: "Group Name" %>
          </td>
          <td>
 
          <%= f.text_field :groupaddress, label: "Group Address" %>
        </td>
    </tr>
    <tr>
     <td>

        <%= f.text_field :groupcity, label: "Group City"%>
      </td>
        <td>
      
          <%= f.text_field :groupstate, label: "Group State" %>
      </td>
    </tr>
    <tr>
     <td>
        <%= f.label "Group Zip Code" %>
        <%= f.text_field :groupzip %>
      </td>
        <td>
          <%= f.label "Group Phone" %>
          <%= f.text_field :groupphone %>
      </td>
    </tr>
    <tr>
     <td>
        <%= f.label "Group Fax Number" %>
        <%= f.text_field :groupfax %>
      </td>
        <td>
          <%= f.label "Group NPI" %>
          <%= f.text_field :groupnpi %>
      </td>
    </tr>
    <tr>
     <td>
        <%= f.label "Group Contact" %>
        <%= f.text_field :groupcontact %>
      </td>
        <td>
          <%= f.label "Group TIN" %>
          <%= f.text_field :grouptin %>
      </td>
    </tr>
   <tr>
     <td>
        <%= f.label "Start Date" %>
        <%= f.date_select :startdate %>
      </td>
        <td>
          <%= f.label "End Date" %>
          <%= f.date_select :enddate %>
      </td>
       <td>
          <%= f.label "Change Date" %>
          <%= f.date_select :changedate %>
      </td>
    </tr>
    <tr>
        <td>
          <%= f.label "Notes"  %>
          <%= f.text_field :notes %>
        </td>
    </tr>
    <tr>
        <td>
          <%= f.label "Mailing Address"  %>
          <%= f.text_field :mailingaddress %>
        </td>
        <td>
          <%= f.label "Mailing City"  %>
          <%= f.text_field :mailingcity %>
        </td>
        <td>
          <%= f.label "Mailing State"  %>
          <%= f.text_field :mailingstate %>
        </td>
        <td>
          <%= f.label "Mailing Zip"  %>
          <%= f.text_field :mailingzip %>
        </td>
    </tr>
    <tr>
          <td>
            <%= f.label "Is Termed?" %>
            <%= f.check_box :istermed %>
         </td>
        <td>
          <%= f.label "Termed Comment"  %>
          <%= f.text_field :termedcomment %>
        </td>
 
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
