<p id="notice"><%= notice %></p>

<p>
  <strong>Groupname:</strong>
  <%= @group.groupname %>
</p>

<p>
  <strong>Groupaddress:</strong>
  <%= @group.groupaddress %>
</p>

<p>
  <strong>Groupcity:</strong>
  <%= @group.groupcity %>
</p>

<p>
  <strong>Groupstate:</strong>
  <%= @group.groupstate %>
</p>

<p>
  <strong>Groupzip:</strong>
  <%= @group.groupzip %>
</p>

<p>
  <strong>Groupphone:</strong>
  <%= @group.groupphone %>
</p>

<p>
  <strong>Groupfax:</strong>
  <%= @group.groupfax %>
</p>

<p>
  <strong>Groupnpi:</strong>
  <%= @group.groupnpi %>
</p>

<p>
  <strong>Groupcontact:</strong>
  <%= @group.groupcontact %>
</p>

<p>
  <strong>Grouptin:</strong>
  <%= @group.grouptin %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @group.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @group.enddate %>
</p>

<p>
  <strong>Changedate:</strong>
  <%= @group.changedate %>
</p>

<p>
  <strong>Change:</strong>
  <%= @group.change %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @group.notes %>
</p>

<p>
  <strong>Mailingaddress:</strong>
  <%= @group.mailingaddress %>
</p>

<p>
  <strong>Mailingcity:</strong>
  <%= @group.mailingcity %>
</p>

<p>
  <strong>Mailingstate:</strong>
  <%= @group.mailingstate %>
</p>

<p>
  <strong>Termedcomment:</strong>
  <%= @group.termedcomment %>
</p>

<p>
  <strong>Istermed:</strong>
  <%= @group.istermed %>
</p>

<p>
  <strong>Mailingzip:</strong>
  <%= @group.mailingzip %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
